body {
  background-color: #E0E7F7;
}

.container-white {
  background-color: #F5F5FB;
}

.container-purple {
  background-color: #E6E5FD;
}

.container-yellow {
  background-color: #FBECA7;
}

.container-bone {
  background-color: #F8F8FA;
}
.btn-purple{
    background-color: #E6E5FD;
}
.Title{
    font-size: 64px;
}